<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <title>Import Lists from Twitter</title>
</head>

<body>
    <section id="app" class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Whoops</h1>
                <h2 class="subtitle">That didn't work for some reason.</h2>
                <div class="notification is-danger">
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>